body {
    background: url("../img/content_bg.png");
    color: #777777;
}
/*.stuInfo,#showEquipment,.watch,.update,.convention,.footer{
    background-color: #ffffff;
    border-radius: 10px;
}*/
.container{
    display: flex;
    flex-direction: column;
}
/*头部开始*/
#header{
    position: relative;
    display: flex;
    flex-direction: row;
}
#headerInfo{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 7% 0 0 2%;
}
#headerImg{
    width: 100%;
    height: 220px;
    position: relative;
    background: url("../img/indexBanner1.jpg") no-repeat;
    background-size: cover;
    margin:5px 0 0 0;
    border-radius:5px 5px 0 0;
}
.title{
    font-size: 40px;
    font-weight: bold;
    color: #CF3A33;
    margin: 10px 0 0 0;
}
.title{
    width: 52%;
}
/*头部结束*/
/*导航条开始*/
.navbar-form{
    padding: 0;
}
.btn{
    padding: 6px 8px;
}
.glyphicon{
    margin-right: 5px;
}
/*.nav>li>a{*/
    /*padding: 10px 14px;*/
/*}*/
.navbar{
    border: none;
    border-radius: 0 0 5px 5px;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.navbar-default .navbar-nav>.active>a{
    color: #ffffff;
    background-color: #003B76;
}
.navbar-default{
    font-size: 15px;
    font-weight: bold;
}
.navbar-collapse{
    padding-left: 0;
    padding-right: 5px;
}
.input-group{
    width: 100%;
}
.loginUl{
    margin-right: 0;
}
/*导航条结束*/
/*设备展示开始*/
.bodyContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line1,.line2{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.stuInfo{
    border-left: none;
    border-top: none;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    height: 340px;
}
.borrow,.return,.suggest{
    cursor: pointer;
}
.manager{
    width: 100%;
    margin-top: 15px;
    color: #003B76;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    border-top: 3px solid #003B76;
}
.stuMsg{
    display: flex;
    flex-direction: row;
    color: #24292E;
}
.stuMsg p{
    margin: 12px 10px 10px 10px;
    font-size: 16px;
}
.stuMajor{
    font-size: 16px;
    color: #24292E;
}
.stuWork{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.stuWork p{
    font-size: 16px;
    margin: 10px;
    color: #24292E;
}
.stuWork p:hover{
    font-size: 17px;
    font-weight: bold;
    color: #003B76;
}
.equipInfo{
    height: 260px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}
.equipInfo img{
    margin: 5px;
}
.stuPhoto img{
    border-radius: 50%;
}
.stuPhoto,.treatyMsg,.noticeMsg{
    margin-top: 15px;
}
/*设备展示结束*/

/*公约、公告开始*/
.contentTitle{
    border-bottom: 3px solid #003B76;
    height: 40px;
    width: 100%;
    line-height: 40px;
}
.contentTitle>span{
    display: inline-block;
    height: 40px;
    width: 120px;
    border-radius: 5px 5px 0 0 ;
    background-color: #003B76;
    color: white;
    text-align: center;
    font-size: 16px;
}
.treaty{
    border-left: none;
    border-top: none;
    height: 340px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    /*justify-content: center;*/
}
.notic{
    border-left: none;
    border-top: none;
    border-radius: 5px;
    height: 340px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}
.treatyMsg{
    display: flex;
    flex-direction: column;
}
.treatyMsg span{
    font-weight: 700;
    text-indent: 2em;
    margin-top: 2px;
}
.treatyList{
    cursor: pointer;
    overflow-y: hidden;
    margin-top: 10px;
    /*-webkit-padding-start: 15px;*/
}
.noticeMsgBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
::-webkit-scrollbar{width:10px;background-color:transparent}
::-webkit-scrollbar-thumb{background-color:#003B76;border-radius:10px;border:2px solid #e1e5ea;}
::-webkit-scrollbar-thumb:hover{background-color:#aab1bc;}
::-webkit-scrollbar-thumb:active{border:0;border-radius:0;background-color:#737ed7}
::-webkit-scrollbar-thumb:window-inactive{background-color:#003B76}

.noticeMsg{
    cursor: pointer;
    overflow-y: scroll;
    /*-webkit-padding-start: 15px;*/
}
.noticeMsg li{
    margin-bottom: 10px;
}
/*公约、公告结束*/

/*轮播图开始*/
.vmc-viewport{
    margin: 10px;
}
.vmcarousel{
    cursor: pointer;
    text-align: center;
}
.imgMsg{
    margin-top: 10px;
}
/*.vmc-clone img{
    width: 200px;
}*/
/*轮播图结束*/

/*热门设备展示开始*/
.stuInfo{
    /*width: 25% !important;*/
}
.treaty{
    /*width: 50% !important;*/
}
.stuInfo,.treaty {
    margin-right: 10px;
}

.partShow{
    height: 260px;
    background-color: #ffffff;
    padding-right: 0;
    padding-left: 0;
    border-radius:5px;
}
.showEquip{
    list-style: none;
    padding: 20px;
}
/*热门设备展示结束*/

/*页脚开始*/
.footer{
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0 20px 0;
}
.textwidget{
    overflow: hidden;
}
.link li a{
    /*color: black;*/
}
a:focus, a:hover{
    text-decoration: none;
    font-weight: bold;
}
.flowRow{
    display: flex;
    flex-direction: row;
}
.flowRow,.clear-margins{
    overflow: hidden;
}
.copyright{
    border-top:5px solid #003B76;
    border-radius:0 0 5px 5px;
    background-color: #ffffff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #cccccc;
}
/* 页脚结束*/

/*模态框开始*/
.borrowModal .input-group:last-child{
 border-bottom: none;
}
/*.suggestList:last-child{
    border-bottom: none;
}*/
.suggestList{
    list-style: none;
    padding: 10px 10px 10px 20px;
    border: 1px solid #cccccc;
}
.suggestList p{
    text-indent: 2em;
}
.form-group{
    margin-bottom: 0;
    margin-top: 10px;
}
.checkbox-inline{
    padding-top: 0 !important;
}
.borrowModal .input-group{
    border-bottom: 1px solid #cccccc ;
}
.pass span{
    color: orange;
}
.checking span{
    color: red;
}
h4{
    color: #003B76;
    font-weight: bold;
}
/*模态框结束*/
/*回到顶部开始*/
.boxbtn{
    position:fixed;
    right:10px;
    bottom: 10px;
    height:35px;
    width: 50px;
    text-align:center;
    padding-top:20px;
    background-color: #003B76;
    opacity: 0.3;
    border-radius: 5px;
    overflow: hidden;
}
.boxbtn:hover:before{
    cursor: pointer;
    top:50%
}
.boxbtn:hover .box-in{
    visibility: hidden;
}
.boxbtn:before{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content:'回到顶部';
    width: 40px;
    color:white;
}
.box-in{
    visibility: visible;
    display:inline-block;
    height:20px;
    width: 20px;
    border: 4px solid;
    border-color: white transparent transparent white;
    transform:rotate(45deg);
}

/*回到顶部结束*/
/*模态框样式更改*/
.modal-header{
    border-bottom: 2px solid #003B76;
}
.modal-footer{
    border-top: 2px solid #003B76;
}
.modal-footer .btn,.reset{
    background: #003B76;
    color: white;
}
/*媒体查询*/
@media (max-width:768px) {
    .treaty{
        /*margin-right:0;*/
    }
    .stuInfo,.treaty,.notic{
        width: 100%;
    }
    .treatyList{
        -webkit-padding-start: 20px;
    }
}